<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cyfersystems.learnlarivaar" version="1.0.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>laridaar.com</name>
    <description>
        An application to help learn Laridaar through Sehaj Paatth.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="WindowsStoreIdentityName" value="KhalisFoundation.LearnLarivaar" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
</widget>
